* {
    font-size: larger;
    font-style: oblique;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 30%;
    border: 5px solid gray;
}

.screen {
    display: flex;
    height: 20%;
    justify-content: end;
    align-items: end;
    font-size: 50px;
    background-color: black;
    color: lightgreen;
}

.buttons {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}